{% extends 'homebase.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
<SCRIPT language="JavaScript" type="text/javascript">
    function openWin(windowURL,windowName,windowFeatures) { window.open(windowURL,windowName,windowFeatures) ; }
</SCRIPT>
<div class="page-wrapper" style="min-height: 250px;">
    {{ include('user/usermenu.html.twig') }}
    <h1>Hotel index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>

            <th>Image</th>
            <th>Star</th>
            <th>Address</th>


            <th>Email</th>
            <th>City</th>
            <th>Country</th>
            <th>Image Gallery</th>
            <th>Status</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.category }} {{ hotel.id }}</td>
                <td>{{ hotel.title }}</td>

                <td><img src="{{ asset('uploads/images/' ~ hotel.image) }}" height="80"> </td>
                <td>{{ hotel.star }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.email }}</td>
                <td>{{ hotel.city }}</td>
                <td>{{ hotel.country }}</td>

                <td>
                    <a href="javascript:openWin('{{ path('admin_image_new',{'id':hotel.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=50,left=100,menuBar=no,scrollBar=yes,resizable=no,width=900,height=600');">
                        <img src="{{ asset('assets/admin/img') }}/galeri1.png" height="100">
                    </a>
                </td>
                <td>{{ hotel.location }}</td>
                <td>{{ hotel.status }}</td>

                <td>
                    <a href="{{ path('user_hotel_show', {'id': hotel.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('user_hotel_edit', {'id': hotel.id}) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_hotel_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
