{% extends 'adminbase.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
<SCRIPT language="JavaScript" type="text/javascript">
    function openWin(windowURL,windowName,windowFeatures) { window.open(windowURL,windowName,windowFeatures) ; }
</SCRIPT>
<div class="page-wrapper" style="min-height: 250px;">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Image</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td><img src="{{ asset('uploads/images/' ~ user.image) }}" height="80"> </td>
                <td>{{ user.status }}</td>

                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-info">edit</a>
                </td>
                <td>
                    {{ include('admin/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
