<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            {% for rs in slider %}
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{{ asset('uploads/images/' ~ rs.image) }}" alt="Image" style="height: 550px">
                </div>
                <div class="carousel-text">
                    <h3>{{ rs.title }}</h3>
                    <h1>{{ rs.description }}</h1>
                    <p>
                        {{ rs.keywords }}
                    </p>
                    <a class="btn btn-custom" href="{{ path('hotel_show', {'id': rs.id}) }}">Rezervasyon</a>
                </div>
            </div>
            {% endfor %}
            <div class="carousel-item">

            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->