<link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets') }}/admin/plugins/images/favicon.png">
<!-- Custom CSS -->
<link href="{{ asset('assets') }}/admin/css/style.min.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
 <form role="form" name="image" action="{{ path('admin_image_new',{'id':id}) }}" method="post" enctype="multipart/form-data">
     <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="exampleInputEmail1">Title</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="image_title" name="image[title]" maxlength="50" class="form-control">
                    <input type="hidden" id="image_hotel" name="image[hotel]" class="form-control" value="{{ id }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="exampleInputFile">Gallery Image</label>
                </div>
                <div class="col-md-6">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" id="image_image" name="image[image]" maxlength="50" class="custom-file-input">
                        <label class="custom-file-label" for="exampleInputFile">Choose File</label>
                    </div>
                </div>
                </div>
            </div>
     </div>
     <div class="card-footer">
         <button type="submit" class="btn btn-primary">Submit </button>
     </div>
 </form>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for image in images %}
          <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.title }}</td>
            <td><img src="{{ asset('uploads/images/' ~ image.image) }}" height="60">
            </td>
            <td>
                 <form method="post"  on="{{ path('admin_image_delete', {'id': image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                     <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                     <button class="btn btn-block btn-info">Delete</button>
                 </form>
            </td>

          </tr>
        {% else %}
                <tr>
                        <td colspan="4">no records found</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>




</form>
<!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
</div>



